<!DOCTYPE html>
<html>
<head>
    <%= include templates/head %>
</head>
<body>
    <%= include templates/nav %>

    <section id="mainsection">
        <h1><%= title %></h1>
        <% for(var i = 0; i < data.length; i++){ %>
        <article class="news-item">
            <div class="img-container">
                <a href="/news/<%= data[i].title.replace(/ /g, '-') %>">
                    <img class="img" src="<%= data[i].img %>" alt=""/>
                </a>
            </div>
            <div class="content">
                <a href="/news/<%= data[i].title.replace(/ /g, '-') %>"><h2 class="title"><%= data[i].title %></h2></a>
                <p class="desc">
                    <%= data[i].description %>
                </p>
                <div class="info">
                    <span class="author"><%= data[i].author %></span>
                    <span class="read-more"><a href="/news/<%= data[i].title.replace(/ /g, '-') %>">Read More</a></span>
                </div>
            </div>
            <div class="clear"></div>
        </article>
        <% } %>
    </section>

    <%= include templates/footer %>
</body>
</html>
